.starwarscards,
.disnycards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); 
  gap: 2px;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border: 2px solid blue;
  border-radius: 10px;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}


@media (max-width: 768px) {
  .starwarscards,
  .disnycards {
    grid-template-columns: repeat(1, 1fr); 
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .starwarscards,
  .disnycards {
    grid-template-columns: repeat(2, 1fr); 
  }
}
